<%- @repositories.each do |repositorio| %>
    <h3><%= repositorio.full_name %></h3><%= repositorio.description %>
    <hr>
    <table>
        <tr>
            <th>Usuário</th>
            <th>Email</th>
            <th>data</th>
            <th>commit</th>
            <th>SHA</th>
        </tr>
        <%- repositorio.commits.order('date DESC').limit(10).each do |commit| %>
            <tr>
                <td><%= commit.author %></td>
                <td><%= commit.email %></td>
                <td><%= commit.date %></td>
                <td><%= commit.message %></td>
                <td><%= commit.sha %></td>
            </tr>
        <%- end %>
    </table>
<% end %>

