<!DOCTYPE html>
<html>
<head>
  <title>Gitlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
Para atualizar os registros, clique no link <%= link_to "Atualizar lista", atualiza_lista_path  %>
<hr/>
<%= yield %>

</body>
</html>
